@charset "UTF-8";
.invisible { margin:0;background-color:#fff;border:1px solid #fff; } 

#infoTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  border-collapse: collapse;
  width: 70%;
}

#infoTable td, #infoTable th {
  border: 1px solid #ddd;
  padding: 8px;
  text-aling:center;
}

#infoTable tr:nth-child(even){background-color: #f2f2f2;}


#infoTable tr:hover {background-color: #ddd;}

#infoTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #729fcf;
  color: white;
}
